<ion-header no-border>
    <ion-toolbar color="dark">
  
        <ion-buttons slot="start">
            <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
          </ion-buttons>
      <ion-title>Varios</ion-title>
  
      <ion-buttons slot="end">
  
        <ion-button color="primary">
          <ion-icon name ="heart"></ion-icon>
        </ion-button>
  
        <ion-button color="primary">
            <ion-icon name ="star"></ion-icon>
          </ion-button>
          
      </ion-buttons>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark">
  
  
    <ion-row class="top-20">
      <ion-col>
          <ion-button expand="full" routerLink="/" color="tertiary">
            News-K 
           </ion-button>
      </ion-col>
      
      <ion-col>
          <ion-button expand="full" routerLink="/tab2" color="tertiary">
            Favoritos
           </ion-button>
      </ion-col>
  
    </ion-row>
  
    <ion-card mode="ios" color="primary">
        <ion-card-header>
          <ion-card-subtitle>Varios Entretenimiento</ion-card-subtitle>
          <ion-card-title>Varios Entretenimiento</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            Eric Reid blasts Jay-Z's dismissal of protests: 'When has Jay-Z ever taken a knee?' -
             Yahoo Sports
        </ion-card-content>
      </ion-card>

      <ion-card mode="ios" color="white">
          <ion-card-header>
            <ion-card-subtitle>Varios Entretenimiento</ion-card-subtitle>
            <ion-card-title>Varios Entretenimiento</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              How low-paid Microsoft contractors train Cortana by listening to you - The Verge
          </ion-card-content>
        </ion-card>

        <ion-card mode="ios" color="white">
            <ion-card-header>
              <ion-card-subtitle>Varios Entretenimiento</ion-card-subtitle>
              <ion-card-title>Varios Entretenimiento</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
                US President Donald Trump phones supporter he 'fat-shamed' - BBC News
            </ion-card-content>
          </ion-card>
    
  
  </ion-content>
  