<ion-header>
  <ion-toolbar>
    <ion-title>
      NewsK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>News K</ion-card-subtitle>
        <ion-card-title>Bienvenidos a News K</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>podras encontrar las noticias por categorias</p>
        <p>test</p>
      </ion-card-content>
    </ion-card>

</ion-content>
