<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      News-K
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card class="welcome-card">
    <ion-img src="/assets/superior.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title *ngIf="afAuth.auth.currentUser">Hola, {{afAuth.auth.currentUser.displayName}}<br> Nos alegra
        tenerte aquí </ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <app-noticias [noticias] = "noticias"></app-noticias>
  
  <ion-icon name="varios"></ion-icon>
</ion-content>